<h2>New Conversation</h2>

<%= form_tag conversations_path, method: :post do %>

    <div class="new_convo">
        <div><%= select_tag :user_id, options_from_collection_for_select(User.all, :id, :username) %></div>
        
        <div><%= text_field_tag :subject, nil, placeholder: "Subject" %></div>
        
        <div><%= text_field_tag :body, nil, placeholder: "Type Message Here" %></div>
    </div>
    
    <%= submit_tag, "Send MEssage" %>
        
<% end %>