<h2 class="greeting">Hi, <%= current_user.email.split('@')[0] %>! Welcome to Xplor!</h2>

<div class="btn-group" id="toolbar" role="group" aria-label="Basic example">
  <button type="button" id="toolbar-btn" class="btn btn-secondary"><%= link_to "My Rentals", priv_r_index_path %></button>
  <button type="button" id="toolbar-btn" class="btn btn-secondary"><%= link_to "My Subleases", priv_s_index_path %></button>
  <button type="button" id="toolbar-btn" class="btn btn-secondary"><%= link_to "All Rentals", rentals_path %></button>
  <button type="button" id="toolbar-btn" class="btn btn-secondary"><%= link_to "All Subleases", subleases_path %></button>
  <button type="button" id="toolbar-btn" class="btn btn-secondary"><%= link_to "My Messages", conversations_path %></button>
</div>  
