<h1>Listing Rentals</h1>

<table>
  <thead>
    <tr>
      <th>Rental Image</th>
      <th>Rental Title</th>
      <th>Rental Description</th>
      <th>Num. Occupants</th>
      <th>Rental Address</th>
      <th>Rental State</th>
      <th>Rental City</th>
      <th>Rental Zip Code<Code>
      <th>Username<Code></Code></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rentals.each do |rental| %>
      <tr>
        <td><%= rental.r_title %></td>
        <td><%= image_tag rental.image.url(:thumb) %></td>
        <td><%= rental.r_description %></td>
        <td><%= rental.r_num_occupants %></td>
        <td><%= rental.r_address %></td>
        <td><%= rental.r_state %></td>
        <td><%= rental.r_city %></td>
        <td><%= rental.r_zip %></td>
        <td><%= rental.user.username %></td>
        <td><%= link_to 'Show', rental %></td>
          <% if can? :update, rental %>
            <td><%= link_to 'Edit', edit_rental_path(rental) %></td>
          <% end %>
          <% if can? :destroy, rental %>
            <td><%= link_to 'Delete', rental, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rental', new_rental_path %>
