<div class="btn-group" id="toolbar" role="group" aria-label="Basic example">
  <button type="button" id="toolbar-btn" class="btn btn-secondary"><%= link_to "My Rentals", priv_r_index_path %></button>
  <button type="button" id="toolbar-btn" class="btn btn-secondary"><%= link_to "My Subleases", priv_s_index_path %></button>
  <button type="button" id="toolbar-btn" class="btn btn-secondary"><%= link_to "All Rentals", rentals_path %></button>
  <button type="button" id="toolbar-btn" class="btn btn-secondary"><%= link_to "All Subleases", subleases_path %></button>
  <button type="button" id="toolbar-btn" class="btn btn-secondary"><%= link_to "My Messages", conversations_path %></button>
</div>  

<p>
  <strong>Sublease Image:</strong><br>
  <%= image_tag @sublease.image.url(:medium) %>
</p>

<p>
  <strong>Sublease Title:</strong>
  <%= @sublease.s_title %>
</p>

<p>
  <strong>Sublease Description:</strong>
  <%= @sublease.s_description %>
</p>

<p>
  <strong>Num. Subleasers:</strong>
  <%= @sublease.s_num_occupants %>
</p>

<p>
  <strong>Sublease Address:</strong>
  <%= @sublease.s_address %>
</p>

<p>
  <strong>Sublease State:</strong>
  <%= @sublease.s_state %>
</p>

<p>
  <strong>Sublease City:</strong>
  <%= @sublease.s_city %>
</p>

<p>
  <strong>Sublease Zip Code:</strong>
  <%= @sublease.s_zip %>
</p>

<p>
  <strong>User:</strong>
  <%= @sublease.user.username %>
</p>

<% if can? :update, @sublease %>
  <%= link_to 'Edit', edit_sublease_path(@sublease) %> |
<% end %>
<%= link_to 'Back', subleases_path %>
