<!DOCTYPE html>
<html>
<head>
  <title>Xplor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <ul class="nav nav-pills justify-content-center">
    <li class="nav-item">
      <a class="nav-link" <%= link_to "Home", home_path %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" <%= link_to "About", about_path %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" <%= link_to "Feedback", feedback_path %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" <%= link_to "SignIn/SignUp", new_user_registration_path %></a>
    </li>
  </ul>


  
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  
  <%= yield %>
  
</body>
</html>


