<!DOCTYPE html>
<html>
<head>
  <title>Xplor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <ul class="nav nav-pills justify-content-center">
    <li class="nav-item">
      <a class="nav-link" <%= link_to "Home", home_path %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" <%= link_to "About", about_path %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" <%= link_to "Feedback", new_feedback_path %></a>
    </li>
    <% if user_signed_in? %>
      <li class="nav-item">
        <a class="nav-link" <%= link_to "Log Out", destroy_user_session_path, method: :delete %></a>
      </li>
    <% else %>
      <li class="nav-item">
        <a class="nav-link" <%= link_to "Sign In", new_user_session_path %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" <%= link_to "Sign Up", new_user_registration_path %></a>
      </li>
    <% end %>
  </ul>


  
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  
  <%= yield %>
  
</body>
</html>


